#footer-body {
    width: 100%;
    height: 300px;
    left: 0px;
    bottom: 0px;
    background-color: #161B21;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#footer-inner-body1 {
    position: relative;
    width: 66.666%;
    height: 183px;
    top: 38px;
}

#footer-inner-body2 {
    width: 100%;
    height: 142px;
    bottom: 79px;
    display: flex;
    flex-direction: column;
}

#footer-contact-us-text {
    width: 191px;
    height: 41px;
    left: 240px;
    bottom: 221px;
    font-family: "Nunito";
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color: #FFFFFF;
    padding: 0;
    margin: 0;
}

#footer-inner-body2-left {
    position: absolute;
    width: 127px;
    height: 108px;
    left: 0px;
    bottom: 20px;
}

#footer-email {
    position: absolute;
    font-family: "Nunito";
    font-style: normal;
    font-weight: normal;
    font-size: 11.8px;
    text-align: left;
    top: 0;
    margin: 0;
    color: #FFFFFF;
}

#footer-phone {
    position: absolute;
    font-family: "Nunito";
    font-style: normal;
    font-weight: normal;
    font-size: 12.8px;
    text-align: left;
    bottom: 61px;
    margin: 0;
    color: #FFFFFF;
}

#footer-located-in-vancouver {
    position: absolute;
    font-family: "Nunito";
    font-style: normal;
    font-weight: bold;
    font-size: 12.8px;
    text-align: left;
    bottom: 0px;
    margin: 0;
    color: #FFFFFF;
}

#footer-inner-body2-right {
    position: absolute;
    width: 85px;
    height: 85px;
    right: 0px;
    bottom: 39px;
}

#footer-home-button {
    top: 0px;
}

#footer-about-us-button {
    top: 34px;
}

#footer-newsletter-button {
    bottom: 0px;
}

.footer-buttons {
    position: absolute;
    font-family: "Nunito";
    font-style: normal;
    font-weight: normal;
    font-size: 12.8px;
    line-height: 17px;
    text-align: center;
    text-decoration-line: underline;
    margin: 0;
    color: #FFFFFF;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
}

.footer-buttons:hover {
    color: #ffffffa6;
}