#body {
  background-color: #FFFFFF;
  width: 100%;
  height: 100%;
  flex: 1;
  position: absolute;
  top: 0;
  left: 0;
}

#TEST-SEPARATOR {
  width: 100%;
  height: 400px;
  background-color: #444343;
}

#header-body {
  background-color: #323232;
  position: fixed;
  width: 100%;
  height: 59.6px;
  left: 0px;
  top: 0px;
  display: flex;
  justify-content: center;
}

#header-items {
  position: relative;
  width: 66.666%;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

#header-gap {
  background-color: white;
  width: 50%;
  height: 100%;
}

#header-items-right {
  width: 49%;
  height: 100%;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#title-text {
  left: 0;
  font-family: "Nunito";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: #FFFFFF;
}

#home-text {
  font-family: "Nunito";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #FFFFFF;
}

#about-us-text {
  font-family: "Nunito";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #FFFFFF;
}

#header-contact-text {
  font-family: "Nunito";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #FFFFFF;
}

#projects-tab {
  position: absolute;
  width: 89px;
  height: 50%;
  left: 840px;
  top: 17px;
}

#projects-text {
  font-family: "Nunito";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  color: #FFFFFF;
}

