#background {
  background-color: #009dff;
  width: 100%;
  height: 100vh;
  flex: 1;
  position: absolute;
  top: 0;
  left: 0;
}

#content_column {
  background-color: #ffffffec;
  margin: auto;
  width: 75%;
  height: 100vh;
}

#title_text {
  font-family: "Helvetica";
  text-align: center;
  font-size: 60pt;
  margin: 0;
  padding: 0;
  top: 0;
}

#title_text_container {
  background-color: #8fd4ff;
  align-items: center;
  justify-content: center;
  height: 160px;
  width: 100%;
  top: 0;
  margin: 0;
  padding: 0;
}

.content_row {
  background-color: red;
  margin: 15px;
  padding: 15px;
}

.text_row {
  color: #000000;
  font-family: "Helvetica";
}
